.background-section {
    background: url('https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    height: 90vh;
    padding: 200px 0;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-weight: 300;
}

.input {
    display: flex;
    flex-direction: column;
    background-color: #0D1117;
    justify-content: center;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
    background-color: #21262C;
}

.value:focus,
.value:active {
    background-color: #1A1F24;
    outline: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.input:hover> :not(.value:hover) {
    transition: 300ms;
    filter: blur(1px);
    transform: scale(0.95, 0.95);
}

@media (max-width: 567px) {
    .input {
        width: auto;
        padding: 10px;
    }
}